<p><%= '🌟' * 17 %></p>
<h1>RENT A BOAT! ⛵️</h1>
<p><%= '🌟' * 17 %></p>

<p>Find me in app/views/pages/home.html.erb</p>
<h1>Mohcine</h1>
<h1>Sonia</h1>
<h1>Leanne</h1>



<button type="button" class="btn btn-primary">HIRE BOAT!</button>
<button type="button" class="btn btn-primary">RENT BOAT!</button>
