<p><%= '🌟' * 17 %></p>
<h1>RENT A BOAT! ⛵️</h1>
<p><%= '🌟' * 17 %></p>




<%= link_to new_boat_path  do %>
  <button type="button" class="btn btn-primary">LIST MY BOAT</button>
<% end %>
<%= link_to boats_path  do %>
<button type="button" class="btn btn-primary">RENT BOAT</button>
<% end %>
