.card-container {
  margin-bottom: 130px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
}

a {
  text-decoration: none;
  color: rgb(84, 76, 76);
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-color: orange;
}


.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.card-trip>img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h6 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

h1 {
  text-align: center;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 10px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

body {
  margin: 0px;
}

#header {
  height: 20px;
  background: #74745a;
}

.resa-infos {
  border-radius: 5px;
  border: 1px solid lightgray;
  min-width: 300px;
  padding: 20px;
  box-shadow: 5px 5px slategray;
}

.resa-container {
  margin: 0 176px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 16px;
}
